/* Basic sample */

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-color: #fcfcfc;
}

.flipbook-viewport {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.flipbook-viewport .container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
}

.flipbook-viewport .flipbook {
	display: none;
    width: 922px;
    height: 600px;
    left: -461px;
    top: -300px;
}

.flipbook-viewport .page {
    width: 461px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.flipbook-viewport .page img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

#divsubtitles {
    position: absolute;
    top: 90%;
    left: 20%;
    z-index: 3;
    font-family: 'Kurale', serif;
    font-size: large;
}

#tarte {
	position: absolute;
	max-width: 10%;
	top: 33em;
    left: 25em;
}

#cactus {
    position: absolute;
    top: 13em;
    left: 10em;
}

#cactus_coupe {
    position: absolute;
    top: 13em;
    left: 10em;
}

#stick {
    position: absolute;
    top: 27em;
    left: 17em;
}

#stick:hover {
    cursor: pointer;
}

#creme {
	position: absolute;
    top: 24em;
    left: 22em;
    max-width: 10%;
}

#sucre {
	position: absolute;
    max-width: 10%;
    top: 9em;
    left: 15em;
}

#cacao {
	position: absolute;
    max-width: 10%;
    top: 13em;
    left: 10em;
}

#cycler {
  position: relative;
  z-index: -1;
}

#cycler img, #cycler div {
  position: absolute;
  z-index: -3;

  box-shadow: 8px 8px 12px #555;
  max-width: 90%;
  margin: 10px;
  border: 5px solid #fff;
  max-width: 85%;
}

#story {
    margin-left: 7em;
}

#cycler img.active {
  z-index: -2;
}

#cycler div.active {
  z-index: -2;
}

#menu {
    margin-top: 1.5em;
    margin-bottom: 1em;
    text-align: center;
}

#menu a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    border-radius: 2px;
    padding: 0.5em 1em 0.5em 1em;
}

#clic_carton {
	position: absolute;
	top: 70%;
	left: 32%;
	background-color: rgba(0,0,0,0);
	width: 10em;
	height: 7em;
	z-index: 3;
}

#clic_carton:hover {
	cursor: pointer;
}

#canvas_clapclap {
	position: absolute;
	background-color: white;
	width: 250px;
	height: 150px;
	border: 1px solid black;
	z-index: 10;
	top: 17%;
	left: 50%;
}

#audio {
  display: none;
}